	/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

section {
	padding-bottom: 10px;
}
aside {
	margin-bottom: 50px;
	border-radius: 5px;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main-container {
	position: relative;
	z-index: 0;
}
#map {
	background: #eee;
	top: -200px;
	min-height: 400px;
	left: 0;
	right: 0;	
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.links,
.social {
	color: #fff;
}
.social iframe {
	margin: 0 10px 10px 0;
	float: left;
	display: inline-block;
}
.stats {
	white-space: nowrap;
	color: #9c0;
	background: rgba(255,255,255, 0.5);
}
.stats .users,
.stats .places {
	font-size: 180%;
	margin:10px 0;
	text-decoration: none;
	cursor: pointer;
	display: block;
}
.stats a:hover {
	text-decoration: none;
}
.stats .places {
	color: #225577;
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
}
.stats .users {
	color: #f72;
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
}
.stats .demo {
	background: #9c0;
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}
.stats a {
	opacity: 0.8;
}
.stats a:hover {
	opacity: 1;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: #eee;
    color: #333;
}
a,
a:hover,
a:active,
a:visited {
	color: #257;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
	color: #257;
}

aside a,
aside a:hover,
aside a:active,
aside a:visited {
	text-decoration: underline;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

#tryitout a,
#tryitout a:hover,
#tryitout a:active,
#tryitout a:visited {
	font-size: 18px;
	color: #257;
}

/* ===================
    ALL: Orange Theme
   =================== */


.principles {
    background: rgba(153,204,0,0.6);	
        color: white;
    border-top: 20px solid #257;
}
.principles a  {
	color: #fff
}
article {
/*	background: rgba(255,255,255,0.3);*/
	border-radius: 5px;
	padding: 16px;
	margin-bottom: 16px;
}

.header-container {
	background: url('../images/back-hex.png') repeat-x center top #eee;
    border-bottom: 10px solid #257;
    /*border-bottom: 5px dotted #9c0;*/
   /* background-color: rgba(255,255,255,0.5);*/
    /*box-shadow: 0 0 20px rgba(100,100,100,0.3);*/

	z-index: 1000;
}
.main-container {
	color: #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.footer-container {
    background: #257;
    min-height: 200px;
    background: url('../images/cover-hex.png') repeat-x center bottom #257;
    text-shadow: 0 0 2px #257;
}
.links {
	color: #fff;
	margin: 0;
	margin-left: 0;	
}
.links ul {
	padding: 0;
}
.links li {
	float: left;
	font-size: 80%;
	margin-right: 10px;
	list-style: none;
}
.links a,
.links a:hover,
.links a:active,
.links a:visited {
	cursor: pointer;
	font-size: 20px;
	color: #eee;
    text-shadow: 0 0 2px #257;
}
.social {
	float: left;
}
.tech {
	opacity: 0.8;
	clear: both;
	height: 200px;
	width: auto;
	padding: 0px 5% 10px;
	background: url('../images/tech.png') no-repeat center center rgba(255,255,255,0.6);
	border-radius: 5px;
	background-size: contain;
}

aside ul {
	list-style:disc;
	padding-left:16px;
}
footer {
	overflow:hidden;
}
.title {
	text-align: center;
	font-size: 30px;
    color: #257;
    text-shadow: 0 0 10px #eee;
    line-height: 110px;
    margin: 0;
}
.title a:hover {
	text-decoration:none;
}
.logo {
	margin-left: 0;
	height: 100px;
	width: 100px;
	display: inline-block;
}
.slogan {
	clear:both;
	color:#257;
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {

	display: block;

    margin-bottom: 10px;
    padding: 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #257;
}
nav a:visited {
	color:white;
}
nav a:hover {
	color: white;
    cursor: pointer;
	background: #9c0
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
   .title {
		font-size: 50px;
	}
	.logo {
		margin-left: -30px;
		margin-top: 10px;
		height: 150px;
		width: 150px;
	}
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 20px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }

	aside ul {
		padding:0px;
		margin: 20px 0px;
	}


    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }
	.tech,
	.main .stats,
    .main aside {
        float: right;
        width: 26%;
        clear: right;
    }
    .links {
    	float: left;
    }
    .links li {
    	float: none;
    }
    .links,
	.social {
		width: 27%;
		float: left;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
